<form ng-submit="login()">
    <div>
        <label>Username</label>
        <input type="text" ng-model="user.username"/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" ng-model= "user.password"/>
    </div>
    <div>
    <button type="submit">Submit</button>
    </div>
</form>